<nav class="nav">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">ReseñApp <i class="fas fa-marker"></i></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Reseñas Públicas</a></li>
            <li><a href="/dashboard">Tablón de reseñas</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>